<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<tx:annotation-driven transaction-manager="transactionManager"/>
	<context:component-scan base-package="info.rmapproject.auth">
		<context:exclude-filter type="regex" expression="info\.rmapproject\.auth\.service\.RMapAuthServiceFactory"/> <!--  this manually initiates -->
	</context:component-scan>

    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://127.0.0.1/rmap?autoReconnect=true" />
        <beans:property name="username" value="user" />
        <beans:property name="password" value="pass" />
		<beans:property name="validationQuery" value="SELECT 1"/>
		<beans:property name="testOnBorrow" value="true"/>
    </beans:bean>
		
    <!-- Hibernate 4 SessionFactory Bean definition -->
    <beans:bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="annotatedClasses">
            <beans:list>
                <beans:value>info.rmapproject.auth.model.ApiKey</beans:value>
                <beans:value>info.rmapproject.auth.model.IdentityProvider</beans:value>
                <beans:value>info.rmapproject.auth.model.User</beans:value>
                <beans:value>info.rmapproject.auth.model.UserIdentityProvider</beans:value>
                <beans:value>info.rmapproject.auth.model.AgentType</beans:value>
                <beans:value>info.rmapproject.auth.model.KeyStatus</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="hibernateProperties">
            <beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</beans:prop>
                <beans:prop key="hibernate.show_sql">false</beans:prop>
            </beans:props>
        </beans:property>
    </beans:bean>	
    
	<beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	   <beans:property name="sessionFactory" ref="sessionFactory"/>
	</beans:bean>
	
    <beans:bean id="userDao" class="info.rmapproject.auth.dao.UserDaoImpl"/>
    <beans:bean id="apiKeyDao" class="info.rmapproject.auth.dao.ApiKeyDaoImpl"/> 
    <beans:bean id="userIdProviderDao" class="info.rmapproject.auth.dao.UserIdProviderDaoImpl"/>
    
    <beans:bean id="apiKeyService" class="info.rmapproject.auth.service.ApiKeyServiceImpl"/>
    <beans:bean id="userService" class="info.rmapproject.auth.service.UserServiceImpl"/>
    <beans:bean id="userIdProviderService" class="info.rmapproject.auth.service.UserIdProviderServiceImpl"/>
    
	<beans:bean id="rmapAuthService" class="info.rmapproject.auth.service.RMapAuthServiceImpl"/>  
        
</beans:beans>
